<!doctype html>
<html>
<body>
<h4><a href="/?sort=<%= @change_sort %>">Sort <%= @change_sort %></a></h4>
<ul>
  <% @files.each do |file| %>
    <li><a href="<%= file %>"><%= file %></a></li>
  <% end %>
</ul>
</body>
</html>